* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.container {
}

.mobile-nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-container img {
    height: 33px;
}

 .hamburger-button {
     width: 50px;
     color: #9e9aa7;
     cursor: pointer;
     display: block;
 }

 /* Tablet Screen */
@media only screen and (min-width: 640px) {
    .hamburger-button {
        display: none;
    }
}